body {
    font-size: var(--font-size-detail);
    display: grid;
    grid-template-rows: auto 1fr auto;
}

.country-wrapper .container {
    max-width: 1300px;
    display: grid;
    gap: 3rem;
}



