body {
    font-size: var(--font-size-detail);
    display: grid;
    grid-template-rows: auto 1fr auto;
}

.country-wrapper {
    margin-bottom: 5rem;
}

.country-wrapper .container {
    max-width: 1300px;
    display: grid;
    gap: 3rem;
}

.country-back-btn {
    justify-self: start;
    padding: .75rem 1rem;
    text-transform: capitalize;
    font-weight: var(--fw-bold);
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100px;
    cursor: pointer;
}

.country-back-btn:hover {
    box-shadow: var(--box-shadow-light);
}

.country-box {
    display: grid;
    gap: 3rem;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-auto-rows: 450px;
}

.country-flag {
    border-radius: 4px;
    overflow: hidden;
    box-shadow: var(--box-shadow-light);
}

.country-flag img {
    height: 100%;
}

.country-stats {
    display: grid;
    gap: 1rem;
}

.country-border-link {
    padding: .5rem .75rem;
    border-radius: 4px;
    background-color: var(--accent);
    display: inline-block;
    text-transform: capitalize;
    margin: .5rem;
    transition: all .2s ease;
}

.country-border-link:hover{
    opacity: .8;
    box-shadow: var(--box-shadow-light);
}

.country-border-box .world-description-text {
    margin-bottom: 1.5rem;
}


@media screen and (min-width: 600px) {
    .country-wrapper .container  {
        margin-top: 5rem;
    }

    .country-box {
        grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));

    }

    .country-stats {
        grid-template-areas: 
            "name name"
            "list-1 list-2"
            "border border";
        }

       .country-stats .world-country-name {
        grid-area: name;
       } 
    
        .country-stats-box-1 {
            grid-area: list-1;
        }
        
        .country-stats-box-2 {
            grid-area: list-2;
        }
        
        .country-border-box {
            grid-area: border;
        }
}

@media screen and (min-width: 960px) {
    .country-wrapper .container  {
        margin-top: 3rem;
    }

    .country-box {
        gap: 5rem;
    }

    .country-stats {
        grid-template-columns: 1fr 1fr;
        
    }

    .country-stats .world-country-name {
       
        align-self: end;
    }
    
    
    
}